# using python 3.9.22
# 'sudo apt install python3.9-distutils' if distutils not found
# 'pip install -r requirements.txt'

numpy==2.0.2
python-time==0.3.0
tqdm==4.67.1
scikit-image==0.24.0
keras==3.9.2
keras-unet-collection==0.1.13
matplotlib==3.9.4
pandas==2.2.3
spyder==6.0.6
scipy==1.13.1
roipoly==0.5.3
tensorflow==2.19.0

# for helper
opencv-python==4.11.0.86

